.swiper-pagination-bullet {
  background-color: #999 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffba08 !important;
}

.swiper-button-prev {
  left: 42px !important;
  color: #ffba08 !important;
}

.swiper-button-next {
  right: 42px !important;
  color: #ffba08 !important;
}
